body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{margin: 0px;padding: 0px;box-sizing: border-box;}
.fullbody{
  width: 100%;
  height: 100vh;
  background-color: rgb(165, 206, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullbody h1{
  border: solid 3px white;
    background-image: linear-gradient(to right ,#7efa8f 0%,#4c4c50 100% );
    box-shadow: 0 10px 30px rgba(118, 85, 225, .3);
  cursor: pointer;
  padding: 15px;
  text-transform: uppercase;
  border-radius:40px;
  display: inline-block;
}